/*Mason Rossi 2880770*/
body {
    width: auto;
    height: auto;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px 50px auto 50px;
    font: normal normal normal 12px/1.5 Verdana, Arial, helvetica, sans-serif;
    background: rgb(60, 100, 60);
}

#gallery {
    display: grid;
    column-gap: 10px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}

#gallery img {
    width: 100%;
    height: 100%;
    clip-path: polygon(-0.74% 12px, 95.66% 0.3%, 96.33% 94.74%, 0px 100%);
}

#gallery figure figcaption {
    text-align: center;
    font-size: large;
}

header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 10px black solid;
    background-image: linear-gradient(darkgreen, darkblue);
}

footer {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    background-image: linear-gradient(rgb(60, 100, 60), darkblue);
}

table {
    border-collapse: separate;
    caption-side: top;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

thead th,
tbody td {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

table caption {
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
}

h1 {
    font-variant: small-caps;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: darkblue;
    font-variant: small-caps;
}

aside h2 {
    -webkit-text-stroke: 1.5px black;

}

footer p {
    font-size: smaller;
    color: black;
}

main {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
}

aside {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: large;
    font-weight: bold;
    background: black url(../images/Cuthulu_awakens.jpg) center/cover;
}

figure .mainimg {
    border: 5px solid black;
    float: left;
    margin: 10px;
    clip-path: circle(100px);
    shape-outside: circle(115px);
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
}

q {
    font-style: italic;
    font-size: large;
}

ul li {
    line-height: 40px;
    list-style-type: none;
}

aside>ul>li>a {
    text-decoration: none;
    color: green;
    -webkit-text-stroke: 1.5px black;
}

aside>ul>li>a:hover {
    color: darkblue;
}

nav {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    border: 5px dotted darkblue;
    border-radius: 30px;
    text-align: center;
}

nav a {
    font-size: 20px;
    font-weight: 900;
    color: black;
    text-decoration: none;
    padding: 100px;
}

nav a:hover {
    font-size: 20px;
    font-weight: 900;
    color: darkblue;
    text-decoration: none;
    padding: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li {
    display: inline-block;
    position: relative;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    width: 100%;
    position: absolute;
    z-index: 999;
    text-align: center;
    background-color: darkgreen;
    box-shadow: 0 0 5px darkblue;
}

nav ul li ul li a {
    color: black;
    padding: 1px;
    display: block;
}

nav ul li ul li:hover a:hover {
    color: darkgreen;
    padding: 1px;
    background: black;
}